.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 30vh;
    background-color: #e0e0e0;
    position: relative;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid #76c7c0;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .welcome {
    margin: 20px 0;
    padding: 10px 20px;
    border: 2px solid #76c7c0;
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .top-left {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .top-right {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  